<div class="fixed-bg-home">
    <div class="container pt-10">
        <div class="row">
            <div class="col-sm-12 hidden-xs-down text-xs-center">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row mx-0 mt-1 mb-3">
            <div class="col-md-4 offset-md-2 col-sm-6 col-xs-12">
                <a [routerLink]="['/login', 't']" class="btn btn-lg btn-block btn-outline-primary btn-inside-lightest">Trainer</a>
            </div>
            <div class="hidden-sm-up col-xs-12">&nbsp;</div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a [routerLink]="['/login', 'a']" class="btn btn-lg btn-block btn-outline-primary btn-inside-lightest">Athlete</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <a href="https://itunes.apple.com/us/app/training-slate/id1114841466?mt=8"><img class="center-block" src="http://app.trainingslate.com/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" alt="Download on the App Store"></a>
            </div>
        </div>
    </div>
</div>